.swiper-wrapper {
  max-width: 100vw;
}

.swiper-pagination-bullet {
  border-radius: 9999px;
  transition: all 0.3s;
  /* background-color: #E5E3E3; */
  background-color: gray;

  width: 16px;
  height: 0.5rem;
}
.mySwiper .swiper-slide {
  min-height: 550px !important;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #ffcc29;
  width: 35px;
}
.mySwiper {
  min-height: 100% !important;
  position: relative;
}
.swiper-pagination {
  z-index: 1000000000000 !important;
  /* top: 100% !important; */
}

.corporate_swiper .swiper-button-prev::after {
  font-size: 1.33rem !important;
  color: #333333;
}
.corporate_swiper .swiper-button-next::after {
  font-size: 1.33rem !important;
  color: #333333;
}

.corporate_swiper .swiper-button-prev {
  border-radius: 50%;
  top: 50%;
  left: 17%;
  transform: translateX(
    -50px
  ); /* Adjust this value to position the button correctly */
  background-color: #e5e3e3;
  height: 40px;
  width: 40px;
  /* padding: 10px; */
}
.corporate_swiper .swiper-button-next {
  border-radius: 50%;
  /* top: 84%;
  left: 50%; */
  top: 50%;
  left: 85%;
  transform: translateX(
    10px
  ); /* Adjust this value to position the button correctly */
  background-color: #ffcc29;

  height: 40px;
  width: 40px;
  /* padding: 10px; */
}

.cyber_swiper .swiper-button-prev::after {
  font-size: 1.33rem !important;
  color: #333333;
}
.cyber_swiper .swiper-button-next::after {
  font-size: 1.33rem !important;
  color: #333333;
}

.cyber_swiper .swiper-button-prev {
  border-radius: 50%;
  top: 84%;
  left: 50%;
  transform: translateX(
    -50px
  ); /* Adjust this value to position the button correctly */
  background-color: #e5e3e3;
  height: 40px;
  width: 40px;
  /* padding: 10px; */
}
.cyber_swiper .swiper-button-next {
  border-radius: 50%;
  top: 84%;
  left: 50%;
  transform: translateX(
    10px
  ); /* Adjust this value to position the button correctly */
  background-color: #ffcc29;

  height: 40px;
  width: 40px;
  /* padding: 10px; */
}
@media screen and (min-width: 500px) {
  .corporate_swiper .swiper-button-prev {
    left: 10%;
    transform: translateX(-50px);
  }
  .corporate_swiper .swiper-button-next {
    left: 92%;
    transform: translateX(10px);
  }
}
@media screen and (min-width: 950px) {
  .corporate_swiper .swiper-button-prev {
    left: 6%;
    transform: translateX(-50px);
  }
  .corporate_swiper .swiper-button-next {
    left: 95%;
    transform: translateX(10px);
  }

  .cyber_swiper .swiper-button-prev {
    top: 94%;
    transform: translateX(-50px);
  }
  .cyber_swiper .swiper-button-next {
    top: 94%;
    transform: translateX(10px);
  }

  .mySwiper .swiper-slide {
    min-height: 490px !important;
  }
}

@media (min-width: 640px) {
  .swiper-pagination-bullet {
    height: 0.5rem;
    width: 20px;
  }
  .swiper-pagination-bullet-active {
    width: 40px;
  }
}

.left-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

.left-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.left-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.left-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Flip the scrollbar to the left */
.left-scrollbar {
  direction: rtl;
}

.left-scrollbar > * {
  direction: ltr;
}

.why_insugo {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

@media (max-width: 1024px) {
  .why_insugo {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

@media (max-width: 768px) {
  .left-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .why_insugo {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.max-w-8xl {
  max-width: 80rem;
}
.max-w-9xl {
  max-width: 85rem;
}
.max-w-10xl {
  max-width: 90rem;
}
.max-w-11xl {
  max-width: 95rem;
}
.max-w-12xl {
  max-width: 100rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-auto-rows: 200px; /* Base row height */
  gap: 10px; /* Space between items */
  padding: 10px;
  background-color: #f9f9f9; /* Optional background */
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the box */
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

/* Specific grid positioning for the layout */
.item-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.item-2 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-3 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-4 {
  grid-column: span 1;
  grid-row: span 2;
}

.item-5 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-6 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-7 {
  grid-column: span 3;
  grid-row: span 1;
}

.up_encoded > ul {
  list-style: disc !important;
}
